/* LANDING START */

.landing {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 20%,
      rgba(48, 48, 48, 1) 99%
    );
    color: whitesmoke;
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
  }
  
  .landing img {
    width: 20vw;
  }
  
  .landing p {
    margin: 5vh auto 5vh;
    text-align: center;
    width: 70vw;
  }
  
  /* LANDING END */